<h1>Starship Search</h1>
<p>
  {{test_starship_search}}
</p>
<select class="form-control" ng-model="selectedStarship" ng-options="starships as starships.name for starships in starships">
</select>
<select class="form-control" ng-model="selectedCurrencies">
  <option value="{{value}}" ng-repeat="(key, value) in currencies">{{key}}</option>
</select>

<h4>
  Starship Cost: {{selectedStarship.cost_in_credits}}
</h4>

<h4>
  Rate: {{selectedCurrencies}}
</h4>

<h4>
  Cost by rate: {{selectedCurrencies * selectedStarship.cost_in_credits}}
</h4>
<button type="submit" ng-click="createFav(selectedStarship.name)">Create Favorite</button>
<h4>
  Vem är i session: {{currentUser}}
</h4>

<h4>
  Dina favoriter
</h4>
<div ng-show="NoFavs">
  Inga favoriter ännu!
</div>
<ul ng-show="!NoFavs">
  <li ng-repeat="Fav in Favs track by $index">
    {{Fav.Fav_name}} <button ng-click="deleteFav(Fav.Fav_id)">Delete</button>
  </li>
</ul>
