<h1>Starship Search</h1>
<p>
  {{test_starship_search}}
</p>

<select class="form-control" ng-model="selectedStarship" ng-options="starships as starships.name for starships in starships">
</select>
<select class="form-control" ng-model="selectedCurrencies">
  <option value="{{value}}" ng-repeat="(key, value) in currencies | orderBy: 'key'">{{key}}</option>
</select>

<h4>
  Starship Cost: {{selectedStarship.cost_in_credits}}
</h4>

<h4>
  Rate: {{selectedCurrencies}}
</h4>

<h4>
  Cost by rate: {{selectedCurrencies * selectedStarship.cost_in_credits}}
</h4>
